form {
  display: table;
}

div {
  display: table-row;
}
label {
   display: table-cell;
  }

input {
   display: table-cell;
   border: 1px solid black;
  }

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
  color: green;

}

.invalid:before {
  position: relative;
  left: -35px;
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#pswrdConfirm #emailMessage{
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}
